.escenario{
    border: 1px solid #333;
    padding: 10px;
}

.escenario-1{
    font-size: 32px;
}

.escenario-2{
    font-size: 16px;
}

/* Hace referencia al tamano de fuente del contenedor */
.em{
    font-size: 2em;
}

/* Hace referencia al tamano de fuente de la raiz */
.rem{
    font-size: 2rem;
}